@charset "UTF-8";
@font-face {
    font-family: 'Oswald';
    src: url(fontes/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(fontes/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {    
    --cor0:#000000;
    --cor1:#FFFFFF;
    --cor2:#D9D9D9;
    --cor3:#4D4D4D;
    --cor4:#FFD700;
    --cor5:#A6A6A6;
    --cor6:#d9d9d988;

    --fonte0:'Oswald', sans-serif;
    --fonte1: 'Montserrat', sans-serif;    
}

body {
    margin: 0;
    padding: 0;
    background-color:var(--cor6);
}


.hero { 
    background-image: url(midias/torcida-arena.jpg);
    text-align: center;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.hero h1 {
    color: var(--cor1);
    font-family: var(--fonte0); 
    font-size: 4.5em;      
    margin-top: 0px; 
    margin-bottom: 45px;
    padding-top: 5px;
    text-shadow: 1px 0px 1px #0000002f;
   

}

.hero p {
    color: var(--cor1);
    font-family: var(--fonte1);
    font-size:1.8em;
    text-shadow: 1px 1px 1px #0000002e;
    font-weight: 500;
    text-align: center;
    margin-bottom: -20px;
    margin-top: -30px;    
}

.hero button {
    background-color:#ffffff49; 
    color: var(--cor1);
    font-family: var(--fonte1);
    font-weight: 650;
    cursor: pointer;
    font-size: 1.6em;
    padding: 15px 22px;
    border-radius: 16px;
    border: solid var(--cor1);    
    display: block;
    margin: 1.25em auto;
    cursor:pointer;
    user-select: none;
    margin-top: 60px;
    margin-bottom: 10px;   
}

.hero button:hover {
    background-color:#ffffff61; 
    transition: 0.2s;  
}

section#historia {
    background-color:var(--cor6);
    align-content: right;
    text-align: right;
    padding: 10px 40px 0px 0px;
}

section#historia h2 {  
    font-family: var(--fonte1);
    font-size: 3em;
    font-weight: 580; 
    text-align: center; 
}

section#historia p {
    padding: 0px 40px;
    text-align: justify;
    font-family: var(--fonte1);
    font-size: 1.3em;
    font-weight: 420;    
}

section#historia img {

    max-width: 70%;
    min-width: 45%;   
    height: auto;
    display:block; 
    margin: 0 auto;
    align-content: center;
    text-align: center;
   
    padding-bottom: 20px;
    
}

nav.galeria {
    min-height: 400px;
    background-color: var(--cor6);
    
    
}

.galeria h2 {
    font-family: var(--fonte1);
    font-size: 3em;
    font-weight: 580; 
    margin-top:0px;
    margin-bottom: 10px;
   
}

.galeria {
    text-align: center;
   
}

.galeria img {
    width: 100%;
    max-width: 40%;
    min-width: 45%;
    height: auto;
    flex: 1 1 45%;
    border-radius: 5px;
    box-sizing: border-box;
 }

 @media screen and (max-width: 600px;) {
    .galeria img {
        max-width: 100%;
        flex: 1 1 100%;    
 }
    
 }
 .rolagem {
    display: flex;
    justify-content: center;
    padding: 20px;
    justify-content: center;
    position: relative;
    overflow: hidden;
 }

 .imagens-dinamicas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;    
 }

 .galeria img:hover {
    transform: scale(1.02);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
 }
 #hino_do_galo h2 {
    font-family: var(--fonte1);
    color: var(--cor1);
    font-size: 2em;
    text-shadow: 1px 1px 1px var(--cor1);
    font-weight: 600;   
    text-align: center;
    
 }

 #hino_do_galo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(/midias/galo_doido_1.jpg);
    background-size:cover;
    background-position: center 18%;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 12px;

 }

aside.sociais {
    color: var(--cor0);      
    padding: 1px;
    margin: 0px;
    background-color: var(--cor6);

 }

 aside.sociais h2 {
    text-align: center;
    font-family: var(--fonte1);
    font-size: 2em;
    font-weight: 600;
    
 }

 form.contato {
    display: flex;
    flex-direction: column;
    font-family: var(--fonte1);
    font-weight: 550;
    gap: 10px;
    margin: 0px 80px;      
 }

 input {
    width: 100%;
    padding: 12px;
    border-radius: 1%;
    margin-bottom: 16px;
    font-size: 1em;   
    color: var(--cor0);    
    border-radius: 8px;
    border: 1.5px solid var(--cor0);
    gap: 10px;   
    padding-right: 15px;
 }

    #mensagem {
    width: 100%;
    padding: 15px;    
    border-radius: 1%;
    margin-bottom: 16px;
    padding-right: 10px;
    font-size: 1em;
    font-family: var(--fonte1);
    color: var(--cor0);
    border-radius: 8px;
    border: 1px solid var(--cor0);
    gap: 10px;
 }

 aside button {
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-family: var(--fonte1);
    font-weight: 600;
    background-color: var(--cor4);
    border: solid 1px var(--cor6); 
    border-radius: 8px;   
 }

 footer {
    background-color: var(--cor0);
    color: var(--cor2);        
    text-align: center;
    padding: 1px 10px;
    margin-top: 10px;
 }

 footer p {
    line-height: 1.2;
    font-size: 0.84em;
    font-family: var(--fonte1);
 }